// Declaração das variaveis
$body-bg: #ffff;
$primary: #6fcb9f;
$secondary: #0392cf;
$danger: #ff4444;
$display4-size: 3rem;


.jumbotron {

background-color: #0392cf!important;
font-size: 20px;

}

.fal {

fill: #ffff;

}


//footer
.icon {

fill: #ffff;

}

// Animation

[data-anime] {
	opacity: 0;
	transition: .3s;
}
[data-anime="left"] {
	transform: translate3d(-50px, 0, 0);

}
[data-anime="right"] {
	transform: translate3d(50px, 0, 0);

}
[data-anime].animate {
	opacity: 1;
	transform: translate3d(0px, 0px, 0px);
}


// Impotação do Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
