// Declaração das variaveis
$body-bg: #ffff;
$primary: #6fcb9f;
$secondary: #0392cf;
$danger: #ff4444;
$display4-size: 3rem;


.jumbotron {

background-color: #0392cf!important;
font-size: 20px;

}

.fal {

fill: #ffff;

}


//footer
.icon {

fill: #ffff;

}



// Impotação do Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
